<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practice1">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Activity Reminder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDrsz4V0zRn_WyoMQbpdnwNOxnfaZtqXl4" />

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".BasePage" />
        <activity android:name=".Progress" />
        <activity android:name=".CalendarTesting" />
        <activity android:name=".StepsProgress" />
        <activity android:name=".Preferences" />
        <activity
            android:name=".AddDoNotDisturbTime"
            android:screenOrientation="portrait" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".weather" />
        <activity android:name=".ExercisePreferences" />
        <activity android:name=".Friends" />
        <activity android:name=".SignIn" />
        <activity android:name=".Account1" />
        <activity android:name=".Quickview" />
        <activity android:name=".WorkoutSelection"/>
    </application>

</manifest>